{% extends "_layout.html" %}
{% block content %}
<div class=edit_form>
    <div style= font-weight:bold>
        <a> Edit Details </a>  
    </div>

    <div>
        <p>{{ current_user.name }} is currently logged in. </p>
        <p> Your user ID is {{ current_user.id }}. </p>
        <p> Your username is {{ current_user.username }}. </p>
        <p> Your email is {{ current_user.email }}. </p>
    </div>

    <div>
        <form action="{{ url_for('users.update', id = current_user.id) }}" method = "POST">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type='text' name='updated_username' class="form-control" />
            </div>         
            <button type="submit" class="btn btn-primary"> Update </button>
          </form>
    </div>
{% endblock %}