<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Error</title> -->
    {% extends "_layout.html" %}
    {% block title %}
      Homepage
    {% endblock %}
    {% block header %}
    {% endblock %}
    {% block content %}

    <div class=error_container>
        <a> Chap, you made a mistake typing that URL </a>
        <img src="static/404_error_gif.gif"/>
    </div>
    
    {% endblock %}

<!-- 
</head>
<body>
    
</body>
</html> -->